section.repository-list {
  margin: 40px;

  h1 {
    margin-bottom: 16px;
  }

  strong {
    font-size: 16px;
  }

  ul {
    list-style: none;

    li {
      list-style-type: node;
      & + li {
        margin-top: 20px;
      }
      p: {
        font-size: 16px;
        color: #444;
        margin-top: 8px;
      }
      a {
        display: inline-block;
        text-decoration: none;
        margin-top: 16px;
        color: #8257e6;
        border: 1px solid #8257e6;
        border-radius: 5px;
        padding: 10px 10px;
      }
    }
  }

}